<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin board</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="rJQnjKkMuMNzmyJnZmecw5SPw4FY0hUN6sdJorbF/+epbrtnbff6mX9OTdnqkprsPhQ2MNaBq8YMq7jIi8BDQQ==" />
    <link rel="stylesheet" media="all" href="/assets/application-945628f9f95377705c9108ec9a9704e6f6ffa0767c02e34400d75b5be64fc1b7.css" data-turbolinks-track="reload" />
    <script src="/assets/application-11e027fe501efa6924bd87aa8f6ef7436fd1539022b412029c4a223dec9664f8.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
  	<div class='body'>
      <div class='container'>
        <h1>Welcome to 
          <span class='glyphicon glyphicon-book'></span>
          <strong>Bulletin board</strong>!
        </h1>
      </div>
    </div>

    <footer>
        <div class='container'>
  	        <div class='row'>
    	        <div class='col-xs-3 col-xs-offset-9'>
    		        <p>CopyRight Iwasaki.inc</p>
    	        </div>
            </div>
        </div>
    </footer>
  </body>
</html>